{% extends 'base.html' %}
{% load static %}
{% block title %}FAQ {% endblock %}


{% block content %}
<link rel="stylesheet" href="{% static 'ogbam/w3.css' %}">
<link rel="stylesheet" href="{% static 'ogbam/ogbams.css' %}">
<div class='w3-container ' style="padding-top:90px" >

<div class='w3-center w3-text-brown '>

<a href='#air'>
      <h2 >FAQs.</h2>
</a>

      <h5 >Click on each question to see answers,click again to hide it.</h5>
   </div>
<ul class="w3-ul " >
          <li>


             <p style="cursor:pointer" onclick="myFunction1('demo1')"><b> How can I purchase data from you?  </b>
              </p>

          <div id="demo1" style="display:none">

            <div class="w3-row w3-margin-bottom">

              <div class="w3-panel">
                <ul class="w3-ul " >
                <li>STEP 1: Fund your wallet. </li>
<li> STEP 2: Fill the data order form. STEP 3: Wait for 5-15 minutes, the recipient will receive
 notification(s) of data recharge(Except for 9mobile(SME),
  which should be confirmed with its balance code) </li>



 <li><p class='w3-text-teal'> Codes for Data Balance: </p>
 MTN-> *461*4#  </li>
<li> 9mobile[SME]-> *229*9# </li>
<li> 9mobile[Gifting]-> *228# </li>
<li> Airtel-> *140# </li>
<li> Glo-> *127*0#. </li>
</ul>

              </div>
            </div>

        </div>
          </li>




          <li>
             <p style="cursor:pointer" onclick="myFunction1('demo2')"><b> How can I fund my wallet? </b> </p>

          <div id="demo2" style="display:none">

            <div class="w3-row w3-margin-bottom">

              <div class="w3-panel">
               <ul class="w3-ul " >
               <li> <p>You can fund your wallet using any of our three payment means.<p></li>
<li>1. Bank payment. </li>
<li> 2. Online Payment with your ATM card details via Pay stack Payment Gateway.
</li>
<li> 3. Payment with airtime. </li>
<li>4. Payment with Coupon Code(s).</li>
</ul>

              </div>
            </div>

        </div>
          </li>





         <li>

            <p style="cursor:pointer" onclick="myFunction1('demo3')" ><b>Can I share the data I buy from you with another line?</b> </p>

          <div id="demo3" style="display:none">

            <div class="w3-row w3-margin-bottom">

              <div class="w3-panel">
                <p>You can only share glo data plans, mtn, 9MOBILE and airtel data cant be shared.</p>
              </div>
            </div>

        </div>
          </li>







          <li>
            <p style="cursor:pointer" onclick="myFunction1('demo4')"><b>How can I be your agent?</b> </p>

          <div id="demo4" style="display:none">

            <div class="w3-row w3-margin-bottom">

              <div class="w3-panel">
                <p>Our Products can be retailed, as they are affordable.
                  You can retail our Products to others and make profit.
                   Just make sure your wallet is funded,
                   then you can easily purchase for anyone you wish.
 </p>
              </div>
            </div>

        </div>
          </li>







          <li>
             <p onclick="myFunction1('demo5')" style="cursor:pointer"><b>Can I send airtime to you for data bundle?</b> </p>

          <div id="demo5" style="display:none">

            <div class="w3-row w3-margin-bottom">

              <div class="w3-panel">
               <p>Yes you can, but payment with airtime attracts little additional charge. Kindly fund your wallet with airtime.
</p>
              </div>
            </div>

        </div>
          </li>





          <li>
             <p style="cursor:pointer" onclick="myFunction1('demo6')"><b> Are your data plans legit? </b> </p>

          <div id="demo6" style="display:none">

            <div class="w3-row w3-margin-bottom">

              <div class="w3-panel">
                <p>Yea, we are third party data vendors.
                We buy in bulk from  network providers and resell.

</p>
              </div>
            </div>

        </div>
          </li>







         <li>
            <p style="cursor:pointer" onclick="myFunction1('demo7')" ><b>Hope the data won't get exhausted quickly or disappear?</b> </p>

          <div id="demo7" style="display:none">

            <div class="w3-row w3-margin-bottom">

              <div class="w3-panel">
                <p>Our data plans are sourced from the network providers,
                therefore consumption rate is similar to the data gotten directly from them.</p>
              </div>
            </div>

        </div>
          </li>





          <li>
            <p style="cursor:pointer" onclick="myFunction1('demo8')"><b>How am I sure you guys are not scammers?</b> </p>

          <div id="demo8" style="display:none">

            <div class="w3-row w3-margin-bottom">

              <div class="w3-panel">
               <p>We've being in business for years and have made reputation from our happy clients.
                We love to keep feedbacks, hence you can check our testimonials page
                for people's comment about us by clicking this button.Testimonials</p>
              </div>
            </div>

        </div>
          </li>




          <li>
             <p style="cursor:pointer" onclick="myFunction1('demo9')"><b>What are the other products/services you offer?</b> </p>

          <div id="demo9" style="display:none">

            <div class="w3-row w3-margin-bottom">

              <div class="w3-panel">
                <p>We sell Cheap Internet Data Plans,
                 Airtime VTU on MTN, 9MOBILE, GLO and AIRTEL,
                  we Convert Airtime To Cash, Airtime Swap, Bills Payment (GOTV, DSTV, STARTIMES).
                    </div>
            </div>

        </div>
          </li>





          <li>
             <p style="cursor:pointer" onclick="myFunction1('demo10')"><b>What if my order was cancelled but my wallet was not refunded? </b> </p>

          <div id="demo10" style="display:none">

            <div class="w3-row w3-margin-bottom">

              <div class="w3-panel">
                <p>Chat admin on whatsapp {{support_phone}}</p>
              </div>
            </div>

        </div>
          </li>







         <li>
            <p style="cursor:pointer" onclick="myFunction1('demo11')"><b>What if my order has been approved, but not yet received?</b> </p>

          <div id="demo11" style="display:none">

            <div class="w3-row w3-margin-bottom">

              <div class="w3-panel">
                <p>Sincere apologies about that, we regret the inconvenience caused.
                Kindly  reach out us through our customer care line(+{{support_phone}}) via WhatsApp with the order details</p>
              </div>
            </div>

        </div>
          </li>






          <li>
            <p style="cursor:pointer" onclick="myFunction1('demo12')"><b>Can I communicate with you in case I have any enquiry? </b> </p>

          <div id="demo12" style="display:none">

            <div class="w3-row w3-margin-bottom">

              <div class="w3-panel">
                <p>Yes, you can always reach out to us through our customer care line via  <i class="fab fa-whatsapp"></i>
                                   +{{support_phone}}<br>
                                    <i class="fab fa-phone"></i>
                                    +{{support_phone}}<br>
                            </p>
              </div>
            </div>

        </div>
          </li>




           <li>
            <p style="cursor:pointer" onclick="myFunction1('demo13')"><b>Is this data plan compatible with all devices?</b> </p>

          <div id="demo13" style="display:none">

            <div class="w3-row w3-margin-bottom">

              <div class="w3-panel">
               <p>Yes, it is compatible with all devices.</p>
              </div>
            </div>

        </div>
          </li>





          <li>
            <p style="cursor:pointer" onclick="myFunction1('demo14')"><b>What's your working period?</b> </p>

          <div id="demo14" style="display:none">

            <div class="w3-row w3-margin-bottom">

              <div class="w3-panel">
               <p>Mon to.Friday 8.30am to 5.00pm, <br>
Saturday 10am -4pm.</p>
              </div>
            </div>

        </div>
          </li>


    <li>
            <p style="cursor:pointer" onclick="myFunction1('demo15')"><b>how to Convert airtime ?</b> </p>

          <div id="demo15" style="display:none">

            <div class="w3-row w3-margin-bottom">

              <div class="w3-panel">
               <p>   {%  if not user.is_authenticated %}
               <p>1. <a href="{% url 'login' %}" class=' w3-text-blue'> log in  </a> to your account if not register yet <a href="{% url 'signup' %}" class=' w3-text-blue'>  click here </a> to register .
                {% endif %}
               <p>    after log in click fund my account ,
             if the Airtime has not been load select Airtime pin otherwise Share and sell.</p>
            <p>Fill the form correctly to convert your airtime to cash </p>
           <p>2. The minimum amount is #500 </p>
<p>3. If you want to transfer airtime to us, you must send the airtime within 20 minutes or else the transaction will be automatically cancelled.</p>
<p>4. To transfer MTN airtime: *600*recipient number*amount*pin# </p>
<p>5. To change MTN transfer pin: *600*default pin*new pin*new pin# e.g *600*0000*new pin*new pin# </p>
<p>6. To transfer 9mobile airtime: *223*pin*amount*number# </p>
<p>7. To change 9mobile transfer pin: *247*default pin*new pin# e.g *247*0000*new pin# </p>
<p>8. To transfer Glo airtime: *131*number*amount*pin# </p>
<p>10. To change Glo transfer pin: *132*00000*new  pin*new pin# </p>
<p>9. To Transfer Airtel Airtime:*432*1# </p>
<p>10. To change Airtel transfer pin: *432*3# (Default pin:1234)</p>
<p>11. Your wallet will be credited with 80% of the amount of airtime you sent(If MTN) and 70% (GLO) ,75% (If Other Networks) e.g
 if you send #1,000 MTN airtime, #850 will be credited ,Glo #700, if other Networks, #750 will be credited.</p>
<p>12. You must not send any amount or Network different from the amount you filled or Choosed.</p>
<p>13.You are required to transfer the worth of airtime to the phone number displayed.</p>
 <p>13.It takes approximately 5 minutes for funds to be verified and credited to your-wallet.</p>
 <p>14 .After that you can proceed to withdraw using bank of your choice </p>.</p>
              </div>
            </div>

        </div>
          </li>


 <li>
            <p style="cursor:pointer" onclick="myFunction1('demo16')"><b>How to buy data?</b> </p>

          <div id="demo16" style="display:none">

            <div class="w3-row w3-margin-bottom">

              <div class="w3-panel">
               <p>   {%  if not user.is_authenticated %}
               <p>1. <a href="{% url 'login' %}" class=' w3-text-blue'> log in  </a> to your account if not register yet <a href="{% url 'signup' %}" class=' w3-text-blue'>  click here </a> to register .
                {% endif %}
            after log in click fund my account ,select Counpon payment You can buy coupon code from our agents </p>
            <p>Fill the form correctly to buy data plan </p>


             <ul class="w3-ul " >
                <li>STEP 1: Fund your wallet. </li>
<li> STEP 2: Fill the data order form. STEP 3:the recipient will receive
 notification(s) of data recharge(Except for 9mobile(SME) <b>instantly</b>,
  which should be confirmed with its balance code)


</li>

<li> <p class='w3-text-teal'> Codes for Data Balance: </p>

 MTN-> *461*4#  </li>
<li> 9mobile[SME]-> *229*9# </li>
<li> 9mobile[Gifting]-> *228# </li>
<li> Airtel-> *140# </li>
<li> Glo-> *127*0#. </li>
</ul>.</p>
              </div>
            </div>

        </div>
          </li>

        </ul>
        <hr>


      </div>





<script>
// Toggle between hiding and showing faq details
document.getElementById("myBtn").click();
function myFunction1(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}


</script>



{% endblock %}
