{% extends 'base.html' %}

{% block title %}FAQ {% endblock %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% block content %}

<div class='w3-container ' style="padding-top:90px" >

<div class='card'>
<div class='w3-container w3-center'>


    <h1 class="w3-xxlarge w3-text-green"><b>Retailer's Website.</b></h1>

<p>To order for a retailer website, <a class="w3-btn w3-blue w3-border w3-round-large" href="{%url 'topuser'%}">Click Here</a></p>

    <p style="font-size:14px;">Have you ever thought of having a website like Husmodata.com? Do you wish to have an online business that constantly generate money for you legitimately? Are you thinking of becoming the owner of a business? Why not try Husmodata.com Retailership? As a retailer on Husmodata.com, you can get a website like Husmodata.com and market all our products and services. You will stand a chance to reach out to many people and retail all our services at discounted prices on your Retailership website to enhance your sells.
<br> If interested, check the frequently asked questions listed below.</p>
<p>Click on each question to see answers</p>



   </div>


<ul class="w3-ul " >
          <li>


             <p style="cursor:pointer" onclick="faqfunction('demo1')"><b>What's the retailers website all about?  </b>
              </p>

          <div id="demo1" style="display:none">

            <div class="w3-row w3-margin-bottom">

              <div class="w3-panel">

<p>  Husmodata.com designs websites for her retailers. This website offers all the various products and services offered on Husmodata.com. The website uses the same software that powers Husmodata.com but different homepage. Husmodata.com handles all the technicalities, while retailers can focus on making money.</p>
              </div>
            </div>

        </div>
          </li>




          <li>
             <p style="cursor:pointer" onclick="faqfunction('demo2')"><b> Do I have to send orders made on my website to Husmodata.com? </b> </p>

          <div id="demo2" style="display:none">

            <div class="w3-row w3-margin-bottom">

              <div class="w3-panel">
               <p>No, you don't have to, Husmodata.com retailers websites are connected directly to Husmodata.com in such a way that all orders made on retailers websites are automatically sent to Husmodata.com in the name of the owner of the website.</p>

              </div>
            </div>

        </div>
          </li>





         <li>

            <p style="cursor:pointer" onclick="faqfunction('demo3')" ><b>Who handles the customer service? </b> </p>

          <div id="demo3" style="display:none">

            <div class="w3-row w3-margin-bottom">

              <div class="w3-panel">
                <p>The owner of the retailer website handles the customer service. The retailer will update his/her phone number for clients to contact him directly.</p>
              </div>
            </div>

        </div>
          </li>







          <li>
            <p style="cursor:pointer" onclick="faqfunction('demo4')"><b>Are there discounts for retailers? </b> </p>

          <div id="demo4" style="display:none">

            <div class="w3-row w3-margin-bottom">

              <div class="w3-panel">
                <p>Yes, though our rates on Husmodata.com is already at wholesales, but we also give discounts for our retailers, so retailers can add intended profit. For instance, If a product for our retailer costs #295 such can be sold by retailers at #330 or more on his website.
 </p>
              </div>
            </div>

        </div>
          </li>







          <li>
             <p onclick="faqfunction('demo5')" style="cursor:pointer"><b>Can I know the prices for each products?</b> </p>

          <div id="demo5" style="display:none">

            <div class="w3-row w3-margin-bottom">

              <div class="w3-panel">
               <p>We have many products naming each products will take a bit of time but I guarantee you will like our retailer prices such as MTN 1GB is 295 and glo 2gb is 900.
please note that these prices are subjected to change at any time, the increament in price will be rear to to the reduction in price, as we are working tirelessly for you to get it cheaper.

</p>
              </div>
            </div>

        </div>
          </li>





          <li>
             <p style="cursor:pointer" onclick="faqfunction('demo6')"><b> Will I be able to set my prices, bank account details and other informations?  </b> </p>

          <div id="demo6" style="display:none">

            <div class="w3-row w3-margin-bottom">

              <div class="w3-panel">
                <p>Yes. You can set all that.
</p>
              </div>
            </div>

        </div>
          </li>







         <li>
            <p style="cursor:pointer" onclick="faqfunction('demo7')" ><b> Is wallet funding also automated on Retailers website ?</b> </p>

          <div id="demo7" style="display:none">

            <div class="w3-row w3-margin-bottom">

              <div class="w3-panel">
                <p>Retailers website support both manual and automated funding. If your clients pay you through payment gateway it is automated but if they pay into your bank account you credit their wallet manually. This doesn't take time and it's easy to do.</p>
              </div>
            </div>

        </div>
          </li>





          <li>
            <p style="cursor:pointer" onclick="faqfunction('demo8')"><b> Can I control this website my myself?</b> </p>

          <div id="demo8" style="display:none">

            <div class="w3-row w3-margin-bottom">

              <div class="w3-panel">
               <p>Sure, our easy step by step manual guide will guide you through the process, it is simple as ABC. </p>
              </div>
            </div>

        </div>
          </li>




          <li>
             <p style="cursor:pointer" onclick="faqfunction('demo9')"><b>Can I manage the website with my phone? </b> </p>

          <div id="demo9" style="display:none">

            <div class="w3-row w3-margin-bottom">

              <div class="w3-panel">
                <p>In as much your phone can access the internet, you can manage your website with it. </div>
            </div>

        </div>
          </li>





          <li>
             <p style="cursor:pointer" onclick="faqfunction('demo10')"><b>Does the package include Mobile App?  </b> </p>

          <div id="demo10" style="display:none">

            <div class="w3-row w3-margin-bottom">

              <div class="w3-panel">
                <p>No. We do not have Mobile App for retailer websites. But if you insist to have one it will cost you additional #30,000</p>
              </div>
            </div>

        </div>
          </li>







         <li>
            <p style="cursor:pointer" onclick="faqfunction('demo11')"><b>How much do I need to get started?</b> </p>

          <div id="demo11" style="display:none">

            <div class="w3-row w3-margin-bottom">

              <div class="w3-panel">
                <p>You can start with any amount. After getting your retailer's website at #20,000 ; you can start with a capital of #5,000 to #20,000.</p>
              </div>
            </div>

        </div>
          </li>






          <li>
            <p style="cursor:pointer" onclick="faqfunction('demo12')"><b>How sure am I that I will get good ROI on my investment? </b> </p>

          <div id="demo12" style="display:none">

            <div class="w3-row w3-margin-bottom">

              <div class="w3-panel">
                <p>Of course, Husmodata.com services are what people use everyday, in as much you have members registered on your site, you will forever make money on such site.</p>
              </div>
            </div>

        </div>
          </li>




           <li>
            <p style="cursor:pointer" onclick="faqfunction('demo13')"><b>How long will it take for the website to be ready? </b> </p>

          <div id="demo13" style="display:none">

            <div class="w3-row w3-margin-bottom">

              <div class="w3-panel">
               <p>It takes 7days after your payment. You don't have to contact us, we shall contact you immediately your website is ready.</p>
              </div>
            </div>

        </div>
          </li>





          <li>
            <p style="cursor:pointer" onclick="faqfunction('demo14')"><b>Can I see a sample of what the website will look like?</b> </p>

          <div id="demo14" style="display:none">

            <div class="w3-row w3-margin-bottom">

              <div class="w3-panel">
               <p>Yea, sure. We designed a demo website, please visit www.Husmodata.comreseller.com.ng, register and go through the website.
</p>
              </div>
            </div>

        </div>
          </li>


            <li>
            <p style="cursor:pointer" onclick="faqfunction('demo15')"><b>How much can I make on such website? </b> </p>

          <div id="demo15" style="display:none">

            <div class="w3-row w3-margin-bottom">

              <div class="w3-panel">
               <p>Your profit is totally dependent on you. It is indefinite. The number of sales you make determines your profit.

</p>
              </div>
            </div>

        </div>
          </li>



  <li>
            <p style="cursor:pointer" onclick="faqfunction('demo16')"><b>Can I view orders made from my website? </b> </p>

          <div id="demo16" style="display:none">

            <div class="w3-row w3-margin-bottom">

              <div class="w3-panel">
               <p>Yes, the record and status of all orders made on retailer's website can be viewed by the admin of the website.
</p>
              </div>
            </div>

        </div>
          </li>

            <li>
            <p style="cursor:pointer" onclick="faqfunction('demo17')"><b>How do I get started? </b> </p>

          <div id="demo17" style="display:none">

            <div class="w3-row w3-margin-bottom">

              <div class="w3-panel">
               <p>Get yourself a good domain name. You need to ensure the domain name is available; to do this, download an application on playstore called DOMAIN NAME SEARCH. After getting an available domain name, Fund your Husmodata.com wallet with the required amount. To order for your retailer website, <a class="w3-btn w3-blue w3-border w3-round-large" href="{%url 'topuser'%}">Click Here</a>

</p>
              </div>
            </div>

        </div>
          </li>

            <li>
            <p style="cursor:pointer" onclick="faqfunction('demo18')"><b>So, how much does it cost to get a retailer website and what do I need to provide?
</b> </p>

          <div id="demo18" style="display:none">

            <div class="w3-row w3-margin-bottom">

              <div class="w3-panel">
               <p>Getting a retailer website only costs #15,000 + #5000 for SSL security making #20,000 with annual due of #15,000 for domain name, ssl security renewal and website maintenance. Meaning that, you pay #20,000 for the domain name, web design, hosting and ssl security for the first year and #15,000 for subsequent years.

</p>
              </div>
            </div>

        </div>
          </li>

            <li>
            <p style="cursor:pointer" onclick="faqfunction('demo19')"><b> Is SSL Security compulsory for my Retailer's website? </b> </p>

          <div id="demo19" style="display:none">

            <div class="w3-row w3-margin-bottom">

              <div class="w3-panel">
               <p>Yes, it costs #5000 only. Contact Husmodata.comretailer@gmail.com to confirm actual price.
</p>
              </div>
            </div>

        </div>
          </li>
        </ul>
        <hr>
<center>
<p>If you have any other enquiry, please contact us via Husmodata.comretailer@gmail.com</p>
<p>To order for a retailer website, <a class="w3-btn w3-blue w3-border w3-round-large" href="{%url 'topuser'%}">Click Here</a> </p>
    </center>  </div>

</div>



<script>
// Toggle between hiding and showing faq details
document.getElementById("myBtn").click();
function faqfunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}


</script>



{% endblock %}
