{% load static %}{% load humanize %}
<!DOCTYPE html>
<html lang="zxx">
  
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="news_keywords" content="buy data">
      <meta name="news_keywords" content="free data">
      <meta name="news_keywords" content="airtime to cash">
      <meta name="news_keywords" content="How To Make Money, Mtn Promo">
      <meta name="keywords" content="convert airtime to cash,Buy affordable data,free data cheat,free data bundle,mtn awoof,new cheat,buy ,sell ,sell  online, Make payment with airtime,Send and recieve payment in Nigeria with airtime, airtime is money, buy cheap data, MTN, Glo, 9mobile, Airtel, make payment for Gotv, Dstv,convert airtime to cash, pay with airtime, accept airtime as money, #airtime2cash, transfer airtime and get cash,
         easiest way to send money in Nigeria,MTN, MTN Home, MTN cellphones, MTN network, MTN Nigeria, MTNN, mtn data">
      <meta name="description" content="Husmodata communication is best in nigeria ,when  it comes to Internet Data Subscriptions,Airtime To cash, Airtime VTU, Bills &amp; TV payments like  GOTV, DSTV &amp; STARTIMES.">
      <title>Husmodata COMMUNICATIONS - convert airtime to cash,Buy affordable data,free data cheat,free data bundle,mtn awoof,new cheat,buy ,sell ,sell  online, Make payment with airtime,Send and recieve payment in Nigeria with airtime, airtime is money, buy cheap data, MTN, Glo, 9mobile, Airtel, make payment for Gotv, Dstv,convert airtime to cash, pay with airtime, accept airtime as money, #airtime2cash, transfer airtime and get cash,
         easiest way to send money in Nigeria,MTN, MTN Home, MTN cellphones, MTN network, MTN Nigeria, MTNN, mtn data
      </title> 
      <meta itemprop="name" content="Husmodata.com- Buy Airtime and Data for all Network. Make payment for DSTV, GOTV, PHCN other services">
      <meta itemprop="description" content="Buy Cheap Internet Data Plan and Airtime Recharge for Airtel, 9mobile, GLO, MTN, Pay DSTV, GOTV, PHCN.">
      <meta itemprop="image" content="/static/styling/images/bg.jpg">
      <link rel="stylesheet" href="/static/ogbam/w3.css">
  

      <!--favicon icon-->
      <link rel="icon" href="/static/styles/img/favicon.png" type="image/png" sizes="16x16">

      <!-- Twitter Card data -->
      <meta name="twitter:card" content="/static/styling/images/bg.jpg">
      <meta name="twitter:title" content="Husmodata.com- Buy Airtime and Data for all Network. Make payment for DSTV, GOTV, PHCN other services">
      <meta name="twitter:description" content="Buy Cheap Internet Data Plan and Airtime Recharge for Airtel, 9mobile, GLO, MTN, Pay DSTV, GOTV, PHCN.">
      <meta name="twitter:image:src" content="/static/styling/images/bg.jpg">
  
      <!-- Open Graph data -->
      <meta property="og:locale" content="en_US">
      <meta property="og:title" content="Husmodata.com- Buy Airtime and Data for all Network. Make payment for DSTV, GOTV, PHCN other services">
      <meta property="og:image" content="/static/styling/images/bg.jpg">
      <meta property="og:description" content="Buy Cheap Internet Data Plan and Airtime Recharge for Airtel, 9mobile, GLO, MTN, Pay DSTV, GOTV, PHCN."/>
      <meta property="og:site_name" content="Husmodata.com"/>
      <meta property="og:url" content="https://www.Husmodata.com">
      <meta property="og:type" content="website">
      <link href="/static/stylem/assets/css/bootstrap.min.css" rel="stylesheet">
      <link href="/static/stylem/assets/css/animate.css" rel="stylesheet">
      <link href="/static/stylem/assets/css/icofont.css" rel="stylesheet">
      <link href="/static/stylem/assets/css/owl.carousel.min.css" rel="stylesheet">
      <link href="/static/stylem/assets/css/owl.theme.default.css" rel="stylesheet">
      <link href="/static/stylem/assets/css/magnific-popup.css" rel="stylesheet">
      <link href="/static/stylem/assets/css/style.css" rel="stylesheet">
      <link href="/static/stylem/assets/css/responsive.css" rel="stylesheet">
      <link href="/static/stylem/assets/css/color/color-default.css" rel="stylesheet">
      <link href="/static/stylem/assets/dist/color-switcher.css" rel="stylesheet">
      <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
      <!-- <link rel="icon" type="image/png" href="/static/stylem/assets/img/favicon.ico"> -->
   </head>
   <body data-spy="scroll" data-offset="70">
      <!-- <div class="preloader-wrap">
         <div class="preloader">
         <span></span>
         <span></span>
         <span></span>
         <span></span>
         <span></span>
         <span></span>
         </div>
         </div> -->
      <nav class="navbar fixed-top navbar-expand-md navbar-light top-menu">
         <div class="container">
            <a href="#" class="navbar-brand">
            <img src="/static/stylem/assets/img/datavilltrans.png" style="height: 60px;width:210px; background-color: rgba(255, 253, 253); border-radius: 10px 20px 1px 20px;">
            </a>
            <!-- <a class="navbar-brand" href="index-3.html">
               Husmodata
               </a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                     <a href="#home" class="nav-link">Home</a>
                  </li>
                  <li class="nav-item">
                     <a href="#about" class="nav-link">About</a>
                  </li>
                  <li class="nav-item">
                     <a href="#features" class="nav-link">Features</a>
                  </li>
                  <li class="nav-item">
                     <a href="#pricing" class="nav-link">Pricing</a>
                  </li>
                  <li class="nav-item">
                     <a href="#faqs" class="nav-link">Faqs</a>
                  </li>
                  <li class="nav-item">
                     <a href="#contact" class="nav-link">Contact</a>
                  </li>
                  {% if user.is_authenticated %}
                           <a href="/profile" class="btn softo-solid-btn" style="padding: 18px 16px;border: 2px solid #281483;background-color: #281483;color: #fff;font: 600 14px/30px 'Montserrat', sans-serif;transition: all .3s ease-out;letter-spacing: 0.5px;margin-right: 10px;">Dashboard</a>
                           <a href="/logout" class="btn softo-solid-btn" style="padding: 18px 16px;border: 2px solid #281483;background-color: #281483;color: #fff;font: 600 14px/30px 'Montserrat', sans-serif;transition: all .3s ease-out;letter-spacing: 0.5px;margin-left: 10px;">logout</a>
                  {% else %} 
                  <li class="nav-item">
                     <a href="/login" class="nav-link">Login</a>
                  </li>
                  <li class="nav-item">
                     <a href="/signup" class="nav-link">Register</a>
                  </li>
                  {% endif %}
               </ul>
            </div>
         </div>
      </nav>
      <div id="home" class="hompage-slides-wrapper">
         <div class="homepage-slides owl-carousel owl-theme">
            <div class="single-slider-item gradient-bg wave-bg-one">
               <div class="slide-item-table">
                  <div class="slide-item-tablecell">
                     <div class="container">
                        <div class="row">
                           <div class="col-md-12 col-lg-7">
                              <div class="slider-text">
                                 <h1>Welcome to Husmodata</h1>
                                 <p>Husmodata is a company of Husmodata Nigeria Limited. We are duly registered ICT Company with Registration Code RC: 1540901. We offer best deals when it comes to internet Data Plans, Airtime,Bills payment like GOTV, DSTV & STARTIMES.</p>
                                 <div class="slide-button">
                                    {% if user.is_authenticated %}
                                             <a href="/profile" class="btn softo-solid-btn" style="padding: 18px 16px;border: 2px solid #281483;background-color: #281483;color: #fff;font: 600 14px/30px 'Montserrat', sans-serif;transition: all .3s ease-out;letter-spacing: 0.5px;margin-right: 10px;">Dashboard</a>
                                             <!-- <a href="/logout" class="btn softo-solid-btn" style="padding: 18px 16px;border: 2px solid #281483;background-color: #281483;color: #fff;font: 600 14px/30px 'Montserrat', sans-serif;transition: all .3s ease-out;letter-spacing: 0.5px;margin-left: 10px;">logout</a> -->
                                    {% else %} 
                                    <a href="/login" class="slide-btn-white mr-10">
                                    <i class="icofont-cloud-download"></i>
                                    Login
                                    </a>
                                    <a href="/signup" class="slide-btn-bordered">Register</a>
                                    {% endif %}
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-12 col-lg-5">
                              <div class="welcome-phone">
                                 <img src="/static/stylem/assets/img/praise 2.png" alt="App Mockup image">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="single-slider-item gradient-bg wave-bg-one">
               <div class="slide-item-table">
                  <div class="slide-item-tablecell">
                     <div class="container">
                        <div class="row">
                           <div class="col-md-12 col-lg-7">
                              <div class="slider-text">
                                 <h1>Husmodata your one stop for unlimited services</h1>
                                 <p>This is a telecommunication industry playing a major role in distribution, selling affordable and most cheapest data, airtime, Dstv subscription, Gotv subscription, Startimes subscription, Convert Airtime to Cash and Electricity subscription.</p>
                                 <div class="slide-button">
                                    <a href="/login" class="slide-btn-white mr-10">
                                    <i class="icofont-cloud-download"></i>
                                    Login
                                    </a>
                                    <a href="/signup" class="slide-btn-bordered">Register</a>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-12 col-lg-5">
                              <div class="welcome-phone">
                                 <img src="/static/stylem/assets/img/praise 1.png" alt="App Mockup image">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <section id="about" class="app-about-section angle-sp">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="section-title angle-section-title wow fadeInUp" data-wow-delay=".3s">
                     <h2>About Us </h2>
                     <p>Husmodata is a registered telecommunication vendor known for providing internet services, airtime VTU, cable TV subscriptions, electricity payment, converting airtime to cash, bitcoin buying and selling, and selling of UK used phones like Iphones, Samsung etc. at a very cheap and affordable price.</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-7">
                  <div class="app-about-text wow fadeInUp" data-wow-delay=".6s">
                     <h3>Best Telecommunication Company</h3>
                     <p>Husmodata also give people the opportunity of becoming their reseller and be making money on hourly and daily basis so as to boost their financial status.</p>
                     <p>We offer instant recharge of Airtime, Databundle, CableTV (DStv, GOtv & Startimes), Electricity Bill Payemnt, Conversion of Airtime to cash and selling of result checkers(WAEC & NECO) at better rates than others.</p>
                     <ul>
                        <li><i class="icofont-verification-check"></i> Easy to used</li>
                        <li><i class="icofont-verification-check"></i> Easy to customize</li>
                        <li><i class="icofont-verification-check"></i> Awesome design</li>
                     </ul>
                     <!-- <a href="#app-download" class="default-button">
                        <i class="icofont-cloud-download"></i>
                        Download Now
                        </a> -->
                  </div>
               </div>
               <div class="col-lg-5">
                  <div class="text-center wow fadeInUp" data-wow-delay=".9s">
                     <img src="/static/stylem/assets/img/app-about.jpg" alt="App About">
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section id="how-it-works" class="how-it-works wave-one-how-it-works gray-bg">
         <div class="wave-bg-section-tb-one"></div>
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="section-title wow fadeInUp" data-wow-delay=".3s">
                     <h2>Why choose Us?</h2>
                     <p>Here at Husmodata our services are completely Fast, Secure & Automated. We provide 24/7hrs Support to our registered users.</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-6">
                  <div class="hiw-feature-content">
                     <div class="single-hiw-feature wow fadeInUp" data-wow-delay=".3s">
                        <i class="icofont-login"></i>
                        <h4>Automation</h4>
                        <p>Convert MTN, 9mobile, Airtel and Glo airtime to cash instantly. Airtime topup and data purchase are automated and get delivered to you almost instantly.</p>
                     </div>
                     <div class="single-hiw-feature wow fadeInUp" data-wow-delay=".4s">
                        <i class="icofont-test-tube-alt"></i>
                        <h4>we're Fast</h4>
                        <p>Husmodata lets you purchase mobile data, top up airtime, pay your cable and electricity bills e.t.c all at the speed of light.</p>
                     </div>
                     <div class="single-hiw-feature wow fadeInUp" data-wow-delay=".5s">
                        <i class="icofont-chart-histogram-alt"></i>
                        <h4>You're Safe</h4>
                        <p>Your E-wallet is secured with a military grade comodo SSL certificate to ensure that your funds will be safe for as long as you want it to be.</p>
                     </div>
                     <div class="single-hiw-feature wow fadeInUp" data-wow-delay=".6s">
                        <i class="icofont-light-bulb"></i>
                        <h4>We're Reliable</h4>
                        <p>We use a customized application specifically designed a testing gnose to keep away for people.</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-5 offset-lg-1">
                  <div class="" data-wow-delay=".9s">
                     <!-- <div class="video-demo-content wow fadeInUp" data-wow-delay=".9s"> -->
                     <img src="/static/stylem/assets/img/praise 2.png" alt="Video Demo Image" class="">
                     <div class="">
                        <a  href="#">
                           <i class=""></i>
                           <div class="">
                              <div class="">
                                 <div class=""></div>
                              </div>
                           </div>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section id="features" class="awsome-features">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="section-title wow fadeInUp" data-wow-delay=".3s">
                     <h2>Our Awsome Services</h2>
                     <p>We Provide The Best Services.</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12 col-lg-6 wow fadeInUp" data-wow-delay=".4s">
                  <div class="single-feature feature-style-two">
                     <div class="feature-icon">
                        <i class="fa fa-wifi color-secondary"></i>
                     </div>
                     <h4>Buy Data</h4>
                     <p>Start enjoying this very low rates Data plan for your internet browsing databundle.</p>
                  </div>
               </div>
               <div class="col-md-12 col-lg-6 wow fadeInUp" data-wow-delay=".5s">
                  <div class="single-feature feature-style-two">
                     <div class="feature-icon">
                        <i class="icofont-light-bulb"></i>
                        <!-- <i class="fa fa-lightbulb color-secondary"></i> -->
                     </div>
                     <h4>Utility Payment</h4>
                     <p>Because we understand your needs, we have made bills and utilities payment convenient..</p>
                  </div>
               </div>
               <div class="col-md-12 col-lg-6 wow fadeInUp" data-wow-delay=".6s">
                  <div class="single-feature feature-style-two">
                     <div class="feature-icon">
                        <i class="icofont-imac"></i>
                     </div>
                     <h4>Cable subscription</h4>
                     <p>Instantly Activate Cable subscription with favourable discount compare to others.</p>
                  </div>
               </div>
               <div class="col-md-12 col-lg-6 wow fadeInUp" data-wow-delay=".7s">
                  <div class="single-feature feature-style-two">
                     <div class="feature-icon">
                        <i class="fa fa-mobile color-secondary"></i>
                     </div>
                     <h4>Airtime TopUp</h4>
                     <p>Making an online recharge has become very easy and safe on Husmodata.</p>
                  </div>
               </div>
               <div class="col-md-12 col-lg-6 wow fadeInUp" data-wow-delay=".8s">
                  <div class="single-feature feature-style-two">
                     <div class="feature-icon">
                        <i class="fas fa-money-bill-alt color-secondary"></i>
                     </div>
                     <h4>Airtime To Cash</h4>
                     <p>We offer this service at a very good attractive rate login to see current conversion rate.</p>
                  </div>
               </div>
               <div class="col-md-12 col-lg-6 wow fadeInUp" data-wow-delay=".9s">
                  <div class="single-feature feature-style-two">
                     <div class="feature-icon">
                        <i class="fas fa-sms color-secondary"></i>
                     </div>
                     <h4>Bulk SMS</h4>
                     <p>Send BulkSMS to any number for as low as just 1.5kobo per unit.</p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <div id="counter" class="counter-stats wave-one-counter">
         <div class="wave-bg-section-tb-one"></div>
         <div class="container">
            <div class="row">
               <div class="col-sm-6 col-lg-3">
                  <div class="counter-box wow fadeInUp" data-wow-delay=".3s">
                     <i class="icofont-users"></i>
                     <p>Users</p>
                     <h3 class="counter-number">2900</h3>
                  </div>
               </div>
               <div class="col-sm-6 col-lg-3">
                  <div class="counter-box wow fadeInUp" data-wow-delay=".4s">
                     <i class="icofont-heart-alt"></i>
                     <p>Happy Clients</p>
                     <h3 class="counter-number">2099</h3>
                  </div>
               </div>
               <div class="col-sm-6 col-lg-3">
                  <div class="counter-box wow fadeInUp" data-wow-delay=".5s">
                     <i class="icofont-ui-rating"></i>
                     <p>Logged In Users</p>
                     <h3 class="counter-number">1999</h3>
                  </div>
               </div>
               <div class="col-sm-6 col-lg-3">
                  <div class="counter-box wow fadeInUp" data-wow-delay=".6s">
                     <i class="icofont-cloud-download"></i>
                     <p>Years of Experience </p>
                     <h3 class="counter-number">4</h3>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <section id="screenshots" class="app-screenshots-section">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="section-title wow fadeInUp" data-wow-delay=".3s">
                     <h2>Our Amazing Partners</h2>
                     <!-- <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore Lorem ipsum madolor sit amet, consectetur adipisicing incididunt.</p> -->
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-12">
                  <div class="screenshot-carousel owl-carousel owl-theme wow fadeInUp" data-wow-delay=".6s">
                     <div class="screenshot-item">
                        <a href="/profile" class="screenshot-image" data-toggle="modal">
                        <img src="/static/stylem/assets/img/screenshot/1.png" alt="Screenshot Image">
                        </a>
                     </div>
                     <div class="screenshot-item">
                        <a href="/profile" class="screenshot-image" data-toggle="modal" >
                        <img src="/static/stylem/assets/img/screenshot/2.png" alt="Screenshot Image">
                        </a>
                     </div>
                     <div class="screenshot-item">
                        <a href="/profile" class="screenshot-image" data-toggle="modal" >
                        <img src="/static/stylem/assets/img/screenshot/3.png" alt="Screenshot Image">
                        </a>
                     </div>
                     <div class="screenshot-item">
                        <a href="/profile" class="screenshot-image" data-toggle="modal" >
                        <img src="/static/stylem/assets/img/screenshot/4.png" alt="Screenshot Image">
                        </a>
                     </div>
                     <div class="screenshot-item">
                        <a href="/profile" class="screenshot-image" data-toggle="modal" >
                        <img src="/static/stylem/assets/img/screenshot/5.png" alt="Screenshot Image">
                        </a>
                     </div>
                     <div class="screenshot-item">
                        <a href="/profile" class="screenshot-image" data-toggle="modal" >
                        <img src="/static/stylem/assets/img/screenshot/6.png" alt="Screenshot Image">
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="modal right screenshots-modal fade" id="screenshot_details">
            <div class="modal-dialog" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <div class="modal-body">
                     <div class="screenshot-details-container">
                        <div class="row">
                           <div class="col-md-5 col-lg-5">
                              <img src="/static/stylem/assets/img/screenshot/1.png" alt="Screenshot Image" />
                           </div>
                           <div class="col-md-7 col-lg-7">
                              <div class="screenshot-details-text">
                                 <h3 class="title">Screenshots Title</h3>
                                 <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore Lorem ipsum madolor sit amet, consectetur adipisicing incididunt.</p>
                                 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                 <ul>
                                    <li>
                                       <i class="icofont icofont-check"></i>
                                       High Resolution
                                    </li>
                                    <li>
                                       <i class="icofont icofont-check"></i>
                                       Unique Design
                                    </li>
                                    <li>
                                       <i class="icofont icofont-check"></i>
                                       Full Responsive
                                    </li>
                                    <li>
                                       <i class="icofont icofont-check"></i>
                                       Clean Codes
                                    </li>
                                 </ul>
                                 <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                 <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section id="testimonial" class="testimonial-section">
         <div class="wave-bg-section-tb-one"></div>
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="testimonial-carousel owl-carousel owl-theme">
                     <div class="testimonial-item">
                        <i class="icofont-quote-left"></i>
                        <p class="description">
                           <q>I love the quick response to issues. We might just get along well. So far so good. There's no star here but I give ⭐⭐⭐..</q>
                        </p>
                        <div class="testimonial-content">
                           <div class="pic">
                              <img src="/static/stylem/assets/img/client/1.jpg" alt="client Image">
                           </div>
                           <h3 class="title">Mojeed</h3>
                           <span class="post">Web Developer</span>
                        </div>
                     </div>
                     <div class="testimonial-item">
                        <i class="icofont-quote-left"></i>
                        <p class="description">
                           <q>This site is great... All thanks to Husmodata.com. I can really say that since I joined this site I have been earning more than before... Kudus To optimalinks.com... Kudus to the developer.</q>
                        </p>
                        <div class="testimonial-content">
                           <div class="pic">
                              <img src="/static/stylem/assets/img/client/2.jpg" alt="Client Image">
                           </div>
                           <h3 class="title">I.T-Guy</h3>
                           <span class="post">UI / UX Designer</span>
                        </div>
                     </div>
                     <div class="testimonial-item">
                        <i class="icofont-quote-left"></i>
                        <p class="description">
                           <q>Amazing!...i recommend to all data resellers...kudos.</q>
                        </p>
                        <div class="testimonial-content">
                           <div class="pic">
                              <img src="/static/stylem/assets/img/client/3.jpg" alt="Client Image">
                           </div>
                           <h3 class="title">Tenny</h3>
                           <span class="post">Web Developer</span>
                        </div>
                     </div>
                     <div class="testimonial-item">
                        <i class="icofont-quote-left"></i>
                        <p class="description">
                           <q>This is best platform when its come to affordable data plan for both end-user and resseller ,i recommend this platform it's fast, automated and secured</q>
                        </p>
                        <div class="testimonial-content">
                           <div class="pic">
                              <img src="/static/stylem/assets/img/client/4.jpg" alt="Client Image">
                           </div>
                           <h3 class="title">Pheebz</h3>
                           <span class="post">Web Developer</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section id="pricing" class="pricing-section">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="section-title wow fadeInUp" data-wow-delay=".3s">
                     <h2>EXCLUSIVE DATA PRICES</h2>
                     <p>Our Affordable Data Prices</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12 col-lg-3">
                  <div class="single-price-package wow fadeInUp" data-wow-delay=".3s">
                     <div class="price-header curve-price-header">
                        <h4 class="price-value">
                           <img src="https://qstoresng.com//static/styling/img/app-landing/mockup/a.jpg" alt="">
                           <span class="excerpt d-block">MTN DATA</span>
                        </h4>
                     </div>
                     <table class="table table-all ">
                        <tbody>
                           {% for plans in plan %}
                              <tr>
                              <td style="color: rgb(5, 37, 78); font-size:16px; font-weight: bolder;"> {{plans.plan_size}}{{plans.plan_Volume}} </td>
                              <td style="color: rgb(5, 37, 78); font-size:16px;  font-weight: bolder;"><i> &#8358;{{plans.plan_amount}}</i></td>
                              <td style="color: rgb(5, 37, 78); font-size:12px;  font-weight: bolder;"><i>{{plans.month_validate}}</i></td>
                              </tr>
                           {% endfor %}
                           
                        </tbody>
                     </table>
                     <div class="price-footer">
                        <a href="/profile" class="purchase-btn">Purchase</a>
                     </div>
                  </div>
               </div>
               <div class="col-md-12 col-lg-3">
                  <div class="single-price-package personal-price-package wow fadeInUp" data-wow-delay=".4s">
                     <div class="price-header curve-price-header">
                        <h4 class="price-value">
                           <img src="https://qstoresng.com//static/styling/img/app-landing/mockup/d.jpg" alt="">
                           <span class="excerpt d-block">GLO DATA</span>
                        </h4>
                     </div>
                     <table class="table table-all ">
                        <tbody>
                           {% for plans in plan_2 %}
                              <tr>
                              <td style="color: rgb(5, 37, 78); font-size:16px; font-weight: bolder;"> {{plans.plan_size}}{{plans.plan_Volume}} </td>
                              <td style="color: rgb(5, 37, 78); font-size:16px;  font-weight: bolder;"><i> &#8358;{{plans.plan_amount}}</i></td>
                              <td style="color: rgb(5, 37, 78); font-size:12px;  font-weight: bolder;"><i>{{plans.month_validate}}</i></td>
                              </tr>
                           {% endfor %}
                           
                        </tbody>
                     </table>
                     <div class="price-footer">
                        <a href="/profile" class="purchase-btn">Purchase</a>
                     </div>
                  </div>
               </div>
               <div class="col-md-12 col-lg-3">
                  <div class="single-price-package personal-price-package wow fadeInUp" data-wow-delay=".4s">
                     <div class="price-header curve-price-header">
                        <h4 class="price-value">
                           <img src="https://qstoresng.com//static/styling/img/app-landing/mockup/b.jpg" alt="">
                           <span class="excerpt d-block">AIRTEL DATA</span>
                        </h4>
                     </div>
                     <table class="table table-all ">
                        <tbody>
                           {% for plans in plan_4 %}
                              <tr>
                              <td style="color: rgb(5, 37, 78); font-size:16px; font-weight: bolder;"> {{plans.plan_size}}{{plans.plan_Volume}} </td>
                              <td style="color: rgb(5, 37, 78); font-size:16px;  font-weight: bolder;"><i> &#8358;{{plans.plan_amount}}</i></td>
                              <td style="color: rgb(5, 37, 78); font-size:12px;  font-weight: bolder;"><i>{{plans.month_validate}}</i></td>
                              </tr>
                           {% endfor %}
                           
                        </tbody>
                     </table>
                     <div class="price-footer">
                        <a href="/profile" class="purchase-btn">Purchase</a>
                     </div>
                  </div>
               </div>
               <div class="col-md-12 col-lg-3">
                  <div class="single-price-package wow fadeInUp" data-wow-delay=".5s">
                     <div class="price-header curve-price-header">
                        <h4 class="price-value">
                           <img src="https://qstoresng.com//static/styling/img/app-landing/mockup/c.jpg" alt="">
                           <span class="excerpt d-block">9MOBILE DATA</span>
                        </h4>
                     </div>
                     <table class="table table-all ">
                        <tbody>
                           {% for plans in plan %}
                              <tr>
                              <td style="color: rgb(5, 37, 78); font-size:16px; font-weight: bolder;"> {{plans.plan_size}}{{plans.plan_Volume}} </td>
                              <td style="color: rgb(5, 37, 78); font-size:16px;  font-weight: bolder;"><i> &#8358;{{plans.plan_amount}}</i></td>
                              <td style="color: rgb(5, 37, 78); font-size:12px;  font-weight: bolder;"><i>{{plans.month_validate}}</i></td>
                              </tr>
                           {% endfor %}
                           
                        </tbody>
                     </table>
                     <div class="price-footer">
                        <a href="/profile" class="purchase-btn">Purchase</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section id="faqs" class="faqs-section gray-bg">
         <div class="wave-bg-section-tb-one"></div>
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="section-title wow fadeInUp" data-wow-delay=".3s">
                     <h2>Frequently Asked Questions</h2>
                     <p>Get answers to some of the frequently asked questions about our services.</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-5">
                  <div class="text-center wow fadeInUp" data-wow-delay=".4s">
                     <img src="/static/stylem/assets/img/datalady.jpeg" alt="Faq Image">
                  </div>
               </div>
               <div class="col-lg-7">
                  <div class="faq-content">
                     <div class="faq-panel wow fadeInUp" data-wow-delay=".3s">
                        <h5 class="faq-title">
                           <span>1.</span> How To Buy Data?
                           <i class="icofont-plus"></i>
                        </h5>
                        <div class="faq-textarea">
                           <p> 1. Log in to your account</p>
                           <p>2. If not click here to register</p>
                           <p>3. After log in click fund my account</p>
                           <p>4. Select Coupon payment ,NB:You can buy coupon code from our agents</p>
                        </div>
                     </div>
                     <div class="faq-panel wow fadeInUp" data-wow-delay=".4s">
                        <h5 class="faq-title">
                           <span>2.</span> How Do I Fund My Wallet?
                           <i class="icofont-plus"></i>
                        </h5>
                        <div class="faq-textarea">
                           <p>You can fund your wallet using any of our Four payment means:</p>
                           <p> a. Bank payment.</p>
                           <p>b. Online Payment with your ATM card details via Paystack/Monnify Payment Gateway .</p>
                           <p>c. Payment with airtime.</p>
                           <p>d. Payment with Coupon Code(s).</p>
                        </div>
                     </div>
                     <div class="faq-panel wow fadeInUp" data-wow-delay=".4s">
                        <h5 class="faq-title">
                           <span>3.</span> Can I Send Airtime?
                           <i class="icofont-plus"></i>
                        </h5>
                        <div class="faq-textarea">
                           <p>Yes you can, but payment with airtime attracts little additional charge. Kindly fund your wallet with airtime
                           </p>
                        </div>
                     </div>
                     <div class="faq-panel wow fadeInUp" data-wow-delay=".5s">
                        <h5 class="faq-title">
                           <span>4.</span> What Are The Codes For Checking Data Balance?
                           <i class="icofont-plus"></i>
                        </h5>
                        <div class="faq-textarea">
                           <p> 1. MTN-> *131*4#</p>
                           <p>2. 9mobile[Gifting]-> *228#</p>
                           <p>3. Airtel-> *140#</p>
                           <p>4. Glo-> *127*0#.</p>
                        </div>
                     </div>
                     <div class="faq-panel wow fadeInUp" data-wow-delay=".7s">
                        <h5 class="faq-title">
                           <span>5.</span> Can Data Bought from you be Shared?
                           <i class="icofont-plus"></i>
                        </h5>
                        <div class="faq-textarea">
                           <p>Only for Glo</p>
                           <p>MTN ,9mobile ,airtel data can’t be shared</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section id="app-download" class="app-download-section wave-one-download-section">
         <div class="wave-bg-section-tb-one"></div>
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="section-title wow fadeInUp" data-wow-delay=".3s">
                     <h2>DOWNLOAD OUR APP</h2>
                     <p>Download Husmodata Android app, compatible with all devices. Search for Husmodata on playstore or click on the image below to download the app
                        Playstore. Will soon be available on App Store.</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-12">
                  <div class="app-download-content wow fadeInUp" data-wow-delay=".6s">
                     <!-- <a href="#" class="download-btn">
                        <i class="icofont-brand-apple"></i>
                        <span>
                        Will soon be available on
                        <span class="large-text">App Store</span>
                        </span>
                        </a> -->
                     <a href="https://play.google.com/store/apps/details?id=Husmodata.com" class="download-btn">
                     <i class="icofont-brand-android-robot"></i>
                     <span>
                     available on
                     <span class="large-text">Play Store</span>
                     </span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section id="contact" class="contact-section gray-bg cs-pt-130">
         <div class="wave-bg-section-top-one"></div>
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="section-title wow fadeInUp" data-wow-delay=".3s">
                     <h2>Get in Touch</h2>
                     <p>Get in Touch with us through any of the various way below:</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4 col-lg-4">
                  <div class="single-contact-info wow fadeInUp" data-wow-delay=".4s">
                     <i class="icofont-location-pin"></i>
                     <h3>Office Address:</h3>
                     <p>2nd floor, Dstv office Akala Expressway New Garage Ibadan Oyo State Nigeria.</p>
                  </div>
               </div>
               <div class="col-md-4 col-lg-4">
                  <div class="single-contact-info wow fadeInUp" data-wow-delay=".5s">
                     <i class="icofont-envelope"></i>
                     <h3>E-mail Address:</h3>
                     <p><a href="mailto:support@Husmodata.com." >support@Husmodata.com</a></p>
                  </div>
               </div>
               <div class="col-md-4 col-lg-4">
                  <div class="single-contact-info wow fadeInUp" data-wow-delay=".6s">
                     <i class="icofont icofont-phone"></i>
                     <h3>Phone Number:</h3>
                     <p>Call: +2349062547785 , Whatsapp: +2348062379036 .</p>
                  </div>
               </div>
            </div>
         </div>
         </div>
      </section>
      <footer id="footer">
         <div class="footer-top">
            <div class="container">
               <div class="row">
                  <div class="col-md-4 col-lg-4">
                     <div class="subscribe-text">
                        <h3>Husmodata</h3>
                        <p>Husmodata is a company of Husmodata Nigeria Limited. We are duly registered ICT Company with Registration Code RC: 1540901. We offer best deals when it comes to internet Data Plans, Airtime,Bills payment like GOTV, DSTV & STARTIMES.</p>
                     </div>
                  </div>
                  <div class="col-md-4 col-lg-4">
                     <div class="subscribe-text">
                        <h3>Our Services</h3>
                        <p><a href="/profile">Buy Data</a></p>
                        <p><a href="/profile">Buy Airtime</a></p>
                        <p><a href="/profile">Bill Payment</a></p>
                        <p><a href="/profile">Bulks SMS</a></p>
                        <p><a href="/profile">Cable Subscription</a></p>
                     </div>
                  </div>
                  <div class="col-md-4 col-lg-4">
                     <div class="subscribe-text">
                        <h3>Useful Link</h3>
                        <p><a href="/documentation">Developer's API</a></p>
                        <p><a href="#about">About Us</a></p>
                        <p><a href="#features">Services</a></p>
                        <p><a href="#faqs">F.A.Q's</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer-bottom">
            <div class="container">
               <div class="row">
                  <div class="col-md-6 col-lg-6">
                     <p class="copyright">Husmodata Copyright © 2020 All Rights Reserved</p>
                  </div>
                  <div class="col-md-6 col-lg-6">
                     <p class="copyright">Developed by <a href="https://msorgdevelopers.com"> MSORG DEVELOPERS</a></p>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="/static/stylem/assets/js/jquery-1.12.4.min.js"></script>
      <script src="/static/stylem/assets/js/popper.min.js"></script>
      <script src="/static/stylem/assets/js/bootstrap.min.js"></script>
      <script src="/static/stylem/assets/js/owl.carousel.min.js"></script>
      <script src="/static/stylem/assets/js/jquery.counterup.min.js"></script>
      <script src="/static/stylem/assets/js/waypoints.min.js"></script>
      <script src="/static/stylem/assets/js/jquery.magnific-popup.min.js"></script>
      <script src="/static/stylem/assets/js/jquery.particleground.min.js"></script>
      <script src="/static/stylem/assets/js/wow.min.js"></script>
      <script src="/static/stylem/assets/js/jquery.ajaxchimp.min.js"></script>
      <script src="/static/stylem/assets/js/form-validator.min.js"></script>
      <script src="/static/stylem/assets/js/contact-form-script.js"></script>
      <script src="/static/stylem/assets/js/jquery.mixitup.min.js"></script>
      <script src="/static/stylem/assets/js/jquery-ui.js"></script>
      <script src="/static/stylem/assets/js/slick.min.js"></script>
      <script src="/static/stylem/assets/js/custom.js"></script>
      <script src="/static/stylem/assets/dist/active-switcher.js"></script>
   </body>
  
</html>

